@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Open+Sans:300,400,700,800|Raleway:300,400,600,700,800&display=swap");

/*
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Open Sans', sans-serif;
*/

:root {
    --white: #ffffff;
    --black: #000000;

    --dark: #333333;
    --gray-800: #444444;
    --gray-600: #555555;
    --gray-500: #777777;
    --gray-400: #888888;
    --gray-300: #dddddd;
    --gray-200: #eeeeee;
    --gray-100: #f6f6f6;

    --primary: #5ca9fb;
    --blueBerry: #6372ff;
    --appleBlue: #6276ff;
    --blueLight: #75acfc;
    --blueSmoke: #cbe5fe;

    --facebook: #3b5998;
    --twitter: #1da1f2;
    --gPlus: #dd4b39;
    --youtube: #ff0000;
}