/*Features - CSS Style*/
.features {
    background: var(--gray-100);
    padding: 80px 0;
}

/*About - CSS Style*/
.about {
    padding: 80px 0;
}

.about .grid {
    text-align: left;
}

.about .grid .col {
    width: 50%;
}