/* CSS Animation */
/* Animation - Slide */
@keyframes slide {
    from {
        transform: translateY(-100%);
        transition-delay: 0.2s;
    }

    to {
        transform: translateY(0);
        transition-delay: 0.2s;
    }
}

@-moz-keyframes slide {
    from {
        transform: translateY(-100%);
        transition-delay: 0.2s;
    }

    to {
        transform: translateY(0);
        transition-delay: 0.2s;
    }
}

@-o-keyframes slide {
    from {
        transform: translateY(-100%);
        transition-delay: 0.2s;
    }

    to {
        transform: translateY(0);
        transition-delay: 0.2s;
    }
}

@-webkit-keyframes slide {
    from {
        transform: translateY(-100%);
        transition-delay: 0.2s;
    }

    to {
        transform: translateY(0);
        transition-delay: 0.2s;
    }
}

/* Animation - Bounce */
@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-15px);
    }

    60% {
        transform: translateY(-5px);
    }
}

@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
    }

    40% {
        -moz-transform: translateY(-15px);
    }

    60% {
        -moz-transform: translateY(-5px);
    }
}

@-o-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -o-transform: translateY(0);
    }

    40% {
        -o-transform: translateY(-15px);
    }

    60% {
        -o-transform: translateY(-5px);
    }
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-15px);
    }

    60% {
        -webkit-transform: translateY(-5px);
    }
}