form {}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

label {
    margin-bottom: 5px;
}

label,
input,
select,
textarea {
    display: block;
    font-family: "Open Sans", sans-serif;
    width: 100%;
}

input,
select,
textarea {
    border: 1px solid var(--gray-300);
    color: var(--gray-800);
    height: 34px;
    font-size: 16px;
    line-height: 22px;
    padding: 5px 15px;
}

textarea {
    height: 105px;
    max-width: 100%;
}