/*Grid - CSS Style*/
.grid {
    text-align: center;
}

.grid h3 {
    font-size: 20px;
    margin: 20px 0 10px 0;
}

.grid p {
    color: var(--gray-500);
}

.grid .col {
    /*border: 1px solid red;*/
    float: left;
    padding: 0 15px;
    width: 25%;
}